.product {
  display: flex;
  align-items: start;
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}

.product-img {
  display: flex;
  width: 50%;
}

.side-img {
  display: grid;
  gap: 20px;
}
.side-img .details-img {
  border: 1px solid #D9D9D9;
  padding: 8% 10px;
  border-radius: 10px;
}

.full-img {
  position: relative;
  border: 1px solid #D9D9D9;
  padding: 0px 30px;
  border-radius: 20px;
  margin-left: 20px;
}
.full-img .discount {
  width: 99.705px;
  height: 41.933px;
  background: #B93C3C;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 40px;
}
.full-img .discount:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.full-img .discount p {
  color: #FFF;
  font-size: 18.239px;
  font-family: poppins;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}

.product-text {
  width: 50%;
}
.product-text .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-text .title .title-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.product-text .title h2 {
  color: #000;
  font-family: poppins;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.product-text .title .star {
  display: flex;
  justify-content: start;
  align-items: center;
}
.product-text .title .star:hover {
  cursor: pointer;
}
.product-text .title .star p {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  color: rgb(246, 246, 10);
}
.product-text .title .star p:hover {
  color: rgb(255, 255, 92);
}

.description {
  overflow: hidden;
  color: rgba(7, 7, 7, 0.6);
  text-overflow: ellipsis;
  font-size: 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.description .price {
  color: #B93C3C;
  font-size: 35px;
  font-family: Montserrat;
}

.size p {
  color: #B93C3C;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;
}
.size .size-1 {
  display: flex;
  gap: 10px;
}
.size .border-size {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  border: 1px solid #C7C7C5;
  border-radius: 6.577px;
}
.size .border-size:hover {
  border-color: #B93C3C;
  cursor: pointer;
  scale: 1.05;
  transition-duration: 0.4s;
}

.color p {
  color: #B93C3C;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;
}
.color .color-1 {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.color .color-1 .color-bg {
  background-color: white;
  border-radius: 50px;
  border: 1px solid black;
  width: 30px;
  height: 30px;
}
.color .color-1 .color-bg:hover {
  border: 1px solid #B93C3C;
  cursor: pointer;
  scale: 1.1;
  transition-duration: 0.4s;
}
.color .color-1 .color-bg1 {
  background-color: black;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
.color .color-1 .color-bg1:hover {
  border: 1px solid #B93C3C;
  cursor: pointer;
  scale: 1.1;
  transition-duration: 0.4s;
}
.color .color-1 .color-bg2 {
  background-color: blue;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
.color .color-1 .color-bg2:hover {
  border: 1px solid #B93C3C;
  cursor: pointer;
  scale: 1.1;
  transition-duration: 0.4s;
}
.color .color-1 .color-bg3 {
  background-color: yellow;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
.color .color-1 .color-bg3:hover {
  border: 1px solid #B93C3C;
  cursor: pointer;
  scale: 1.1;
  transition-duration: 0.4s;
}

.offer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.offer .qty {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 153px;
  height: 50px;
  border-radius: 12px;
  border: 1px solid #D9D9D9;
}
.offer .qty p {
  color: #3D3D3D;
  font-size: 22.67px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.offer .qty .qty-btn {
  border: none;
  background-color: white;
}
.offer .qty .qty-btn:hover {
  cursor: pointer;
  scale: 1.2;
  transition-duration: 0.4s;
}
.offer .qty .qty-btn .icon {
  width: 20px;
  height: 20px;
  color: #3D3D3D;
}
.offer .buy {
  width: 280px;
  height: 50px;
  border-radius: 10px;
  background-color: #000;
  color: white;
  font-size: 20px;
  font-family: Poppins;
  font-style: normal;
  line-height: normal;
}
.offer .buy:hover {
  cursor: pointer;
  box-shadow: #C7C7C5;
  scale: 1.02;
  transition-duration: 0.4s;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.social .like {
  color: red;
  background-color: #fafafa;
  box-shadow: #C7C7C5;
  background-size: cover;
  padding: 7px;
  border-radius: 50px;
  height: 30px;
  width: 30px;
}
.social .like:hover {
  cursor: pointer;
  scale: 1.05;
  transition-duration: 0.3s;
}/*# sourceMappingURL=DetailsOfProduct.css.map */